<h1><%= @user.name %></h1>
<p>Contact me at: <%= @user.email %></p>

<% if @user_posts.exists? %>
    <h3><%= @user.name %>'s Posts</h3>
    <% @user_posts.each do |post| %>
        <p><%= link_to post.title, post_path(post) %></p>
    <% end %>
<% else %>
    <p>Sorry, I haven't sold anything yet</p>
<% end %>

