<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<% if @user_posts.exists? %>
    <% @user_posts.each do |post| %>
        <%= link_to post.title, post_path(post) %>
    <% end %>
<% else %>
    <p>Sorry, I haven't sold anything yet</p>
<% end %>

